table{
    margin: 20pt;
}
table tr th {
    background-color: #999;
    color:#fff;
    text-align: center;
    padding: 3px 10px;
}
table tr td{
    background-color: #eee;
    color: #666;
    text-align: left;
    padding: 3px 10px;
}
